<div {{attributes}} class="form-group"> 
    <input id="address" name="addressLabel" type="text" class="form-control" data-action="input->live#action"
        data-live-action-param="setAddressLabel" data-model="addressLabel" placeholder="adresse">
    {% if autocompletions %}
    <ul class="list-group">
        {% for key, completion in autocompletions %}
        <li class="list-group-item" value="{{key}}"> 
            <button type="button" {{live_action('selectCompletion', {key: key})}}>
                {{completion.fulltext}}
            </button> 
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>