<div {{attributes}}> 
    <input type="text" placeholder="address" autocomplete="false" spellcheck="false"
    {{ live_action('setAddressLabel', event:'input') }} data-model="addressLabel">
    <ul>
        {% for key, completion in autocompletions %}
        <li> 
            <button type="button" {{live_action('selectCompletion', {key: key})}}>
                {{completion.fulltext}}
            </button> 
        </li>
        {% endfor %}
    </ul> 
</div>